
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Taxi Pride!!</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>

    <body>
        <div class="container">
            <div class="jumbotron" style="text-align: center">
                <h1>Taxi Pride</h1>
                <p>The Most Popular Taxi Drop Off Locations During Pride Week</p>
            </div>
    
            <div class="row">
                <div class="col-md-12">
                    <h2>Taxi Pick Up and Drop Off Locations</h2>
                    <div id="sankey"></div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <h2>Payment Type and Tips</h2>
                    <div id="bar graph"></div>
                </div>
            </div>
    

            <div class="well">
                <h5>Location Filter:</h5>
                <select id="selDataset" onchange="optionChanged(this.value)"></select>
              </div>

              <div class="panel panel-primary">
                <div class="panel-heading">
                  <h3 class="panel-title">Trip Stats</h3>
                </div>
                <div id="bar" class="panel-body"></div>
              </div>
            </div>


           
        </div>

    </body>

    </html>